@font-face {
  font-family: "pop-light";
  src: url("./Assets/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "pop-red";
  src: url("./Assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "pop-med";
  src: url("./Assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "pop-bold";
  src: url("./Assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "pop-black";
  src: url("./Assets/fonts/Poppins-Black.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}
body {
  font-family: "pop-red", sans-serif;
  overflow-x: hidden;
}


/* ===================== NAVIGATION COMPONENT===================== */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 8vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}
nav img {
  width: 150px;
  cursor: pointer;
}
nav .navigation {
  display: flex;
}
#menu {
  height: 30px;
  width: 30px;
  display: none;
}
#menu-close {
  display: none;
}
nav .navigation ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}
nav .navigation ul li {
  margin-left: 30px;
}
nav .navigation ul li a {
  text-decoration: none;
  color: #00416A;
  font-size: 16px;
  font-family: "pop-med";
  transition: 0.3s ease;
}
nav .navigation ul li a.active,
nav .navigation ul li a:hover {
  color: #90D5FF;
}
/* ===================== HOME COMPONENT===================== */
#home {
  background-image: linear-gradient(rgba(1, 0, 4, 0.3), rgba(9, 4, 46, 0.7)),
    url("./Assets/images/back.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  z-index: 1;

  animation: change 10s infinite ease-in-out;
}

@keyframes change {
  0% {
    background-image: linear-gradient(rgba(1, 0, 4, 0.3), rgba(9, 4, 46, 0.7)),
      url("./Assets/images/back.jpg");
  }
  20% {
    background-image: linear-gradient(rgba(1, 0, 4, 0.3), rgba(9, 4, 46, 0.7)),
      url("./Assets/images/back01.jpg");
  }
  40% {
    background-image: linear-gradient(rgba(1, 0, 4, 0.3), rgba(9, 4, 46, 0.7)),
      url("./Assets/images/back02.jpg");
  }
}



#home h1 {
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-weight: 900;
}
#home p {
  width: 50%;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 25px;
}
#home .btn {
  margin-top: 30px;
}
#home .btn a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-family: "pop-med";
  border-radius: 5px;
  transition: 0.3s ease;
}
#home .btn a.blue {
  color: #fff;
  background-color: #90D5FF;
}
#home .btn a.blue:hover {
  color: #00416A;
  background-color: #fff;
}
#home .btn a.yellow {
  color: #ffffff;
  background-color: #90D5FF;
}
#home .btn a.yellow:hover {
  color: #00416A;
  background-color: #fff;
}

/* ===================== COURSES COMPONENT===================== */
#course {
  padding: 10px 20px 10px 20px;
  text-align: center;
  margin-top: 20px;
}
#course h1{
  color:#00416A ;
  padding-bottom: 20px;
}
#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#course .courses {
  text-align: center;
  background-color: #f0f0fe;
  height: 100%;
  position: relative;
  border-radius: 10px;
}
#course .courses img {
  padding-top: 20px;
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
#course .courses .details {
  padding: 15px 15px 15px 15px;
  color: #00416A;
}
#course .courses .details p {
  color: #00416A;
  font-size: 0.6rem;
  padding-top: 2px;
}
#course .courses .details h6{
  color: #009dfe;
}

/* ===================== PROFILES COMPONENT===================== */
#experts {
  padding: 5vw 8vw 5vw 8vw;
  text-align: center;
  margin-top: 10px;
  color: #00416A;
}
#experts h1{
  padding-bottom: 20px;
}
#experts p{
  padding-bottom: 20px;
}
#experts .experts-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 10px;
  gap: 1rem;
  border-radius: 5px;
}
#experts .experts-box .profile {
  background-color: #f0f0fe;
  padding: 30px 10px;
}
#experts .experts-box .profile img{
  width: 150px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}
/* ===================== FOOTER COMPONENT===================== */
footer {
  padding: 2vw 10vw 2vw 10vw;
  background-color: #0069aa;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}
footer .footer-col {
  padding-bottom: 20px;
}
footer .footer-col img{
  align-items: start;
  justify-content: start;
}
footer h3 {
  color: rgb(241, 240, 245);
  padding-bottom: 10px;
}
footer li {
  list-style: none;
  color: #ffffff;
  padding: 5px 0;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}
footer li:hover {
  color: rgb(241, 240, 245);
}
footer p {
  color: #7b838a;
}
footer .copyright {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
footer .copyright p {
  font-size: x-small;
  color: #fff;
}
footer .copyright i {
  padding: 10px 13px;
  cursor: pointer;
  background-color: #00416A;
  color: #f9f9ff;
}
footer .copyright i:hover {
  background-color: #009dfe;
  color: #ffffff;
}
/* ============================================================= */
/* ===================== ABOUT PAGE ===================== */

/* ==================== ABOUT-HOME COMPONENT===================== */
#about-home {
  background-image: linear-gradient(rgba(9, 5, 24, 0.3), rgba(9, 4, 46, 0.7)),
    url("./Assets/images/back01.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}
#about-home h2 {
  font-size: 2.2rem;
  color: #fff;
  letter-spacing: 1px;
}
/* ===================== ABOUT-CONTAINER COMPONENT===================== */
#about-container {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img {
  width: 50%;
  padding-right: 20px;
}
#about-container .about-img img {
  width: 100%;
}
#about-container .about-text {
  width: 50%;
}
#about-container .about-text h2 {
  color: #00416A;
  margin-bottom: 20px;
}
#about-container .about-text p {
  color: #00416A;
  font-family: "pop-light";
  text-align: justify;
  padding-right: 15px;
}


/* ============================================================= */
/* ===================== CONTACT PAGE ===================== */
#contact {
  padding: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#contact .getin {
  width: 300px;
  padding-top: 20px;
}
#contact .getin h2 {
  color: #2c234d;
  font-size: 30px;
  font-family: "pop-bold";
  line-height: 0.8;
  margin-bottom: 16px;
}
#contact .getin p {
  color: #686875;
  line-height: 24px;
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
}
#contact .getin h3 {
  color: #2c234d;
  font-size: 16px;
  font-family: "pop-med";
  line-height: 26px;
  margin-bottom: 15px;
}
#contact .getin .getin-details div {
  display: flex;
}
#contact .getin .getin-details div .get {
  font-size: 16px;
  line-height: 22px;
  color: #21a7fa;
  margin-right: 20px;
}
#contact .getin .getin-details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}
#contact .getin .getin-details .pro-links i {
  margin-right: 8px;
  color: #21a7fa;
}
#contact .form {
  width: 70%;
  background-color: #f7f6fa;
  padding: 20px;
  border-radius: 10px;
}
#contact .form h4 {
  font-size: 24px;
  color: #2c234d;
  line-height: 30px;
  margin-bottom: 8px;
}
#contact .form p {
  color: #686875;
  line-height: 24px;
  padding-bottom: 25px;
}
#contact .form .form-one{
  width: 100%;
  background-color: #f0f0fe;
  padding: 20px;
  border-radius: 10px;
  gap: 2px;
  margin: 10px;
  color: #00416A;
}

#contact .form .form-col input,
#contact .form {
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #353535;
  padding: 20px 10px;
  margin-bottom: 5px;
  box-shadow: 4px 4px 4px gray;
}

#contact .form .form-col select{
  width: 100%;
  height: 3vw;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 4px 4px gray;
  margin-bottom: 5px;
}
#contact .form .form-col select option{
  color: grey;
}
#contact .form .form-col button {
  font-size: 0.9rem;
  padding: 13px 25px;
  margin: 10px;
  border-radius: 5px;
  background-color: #90D5FF;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  
}
#contact .form .form-col .submit{
  margin-right: 280px;
}
#contact .form .form-col .reset{
  margin-left: 280px;
}
#contact .form .form-col button:hover{
color: #00416A;
background-color: white;
}
::placeholder {
  color: #bbb;
}

/* ============================================================= */
/* ===================== RESPONSEVE DESIGN ===================== */

/* ========= TABLET ========= */
@media (max-width: 769px) {
  nav {
    padding: 15px 20px;
  }
  nav img {
    width: 130px;
  }
  #menu {
    display: initial;
    cursor: pointer;
    color: #00416A;
  }
  #menu-close {
    display: initial;
    cursor: pointer;
    padding: 30px 0 20px 20px;
    font-size: 1.6rem;
    color: #fff;
  }
  nav .navigation ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: -220px;
    height: 100vh;
    width: 220px;
    background-color: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.3s ease-in;
  }
  nav .navigation ul.active {
    right: 0px;
  }
  nav .navigation ul li {
    padding: 20px 0 20px 30px;
  }
  nav .navigation ul li a {
    color: #fff;
  }
  #home {
    padding-top: 10px;
  }
  #home p {
    width: 90%;
  }
  #course {
    padding: 8vw 4vw 8vw 4vw;
  }
  .pro-links {
    margin-top: 15px;
  }
  footer{
    flex-direction: column;
  }
  footer .copyright p {
    font-size: 8px;
    color: #fff;
  }
  footer .footer-col img{
    display: none;
  }
  footer .footer-col .note{
    display: none;
  }
  /* --------------- About Page ---------------- */
  #about-container {
    padding: 4vw 4vw 4vw 4vw;
    flex-direction: column;
    width: 100%;
  }
  #about-container .about-img {
    padding: 10px;
    width: 100%;
    align-items: center;
   
  }
  #about-container .about-text{
    width: 100%;
  }

  /* --------------- Contact Page ---------------- */
  #contact {
    flex-direction: column-reverse;
    width: 100%;
  }
  #contact .getin {
    width: 100%;
  }
  #contact .form {
    width: 100%;
    padding: 0;
  }
  #contact .form .form-col .submit{
    margin-right: 0;
  }
  #contact .form .form-col .reset{
    margin-left: 0;
  }
  #contact .form .form-col select{
    width: 100%;
    height: 8vw;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 4px gray;
    margin-bottom: 5px;
  }
  #contact .form .form-one{
    width: 100%;
    background-color: #f0f0fe;
    border-radius: 10px;
    color: #00416A;
  }
  
  
}
/* ========= MOBILE ========= */
@media (max-width: 475px) {
  #home {
    padding: 0 20px;
  }
  /* --------------- About Page ---------------- */
  #about-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  #about-container .about-text {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-container .about-img {
    width: 100%;
    padding-right: 0;
  }

  /* --------------- Contact Page ---------------- */
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact .getin {
    width: 100%;
  }
  #contact .form {
    width: 100%;
    margin-top: 30px;
    margin-right: 20px;
    padding: 10px;
  }
  #contact .form .form-one{
    width: 100%;
    background-color: #f0f0fe;
    border-radius: 10px;
    color: #00416A;
  }
}

/* =========  SMALL-MOBILE ========= */
@media (max-width: 375px) {
  footer input {
    width: 100%;
    margin-bottom: 20px;
  }
}
